<!DOCTYPE html>
<html lang="en">
<head>
  <title>Places</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  {{> navbar}}

<div class="jumbotron text-center">
  <h1>Search page</h1>
  <p>for searhing places of interest</p>
</div>

<div class="row container text-center">

    <div class="col-sm-12">
       <form id="form" action="/" method="post">
         <div class="form-group">
           <label for="addr">Enter address:</label>
           <input id="addr" name="address" class="form-control" type="text" placeholder="enter address"/>
           <p></p>

<label for="name">Enter name:</label>
<input id="name" name="name" class="form-control" type="text" placeholder="enter name"/>
<p></p>
<label for="places-type">Please select type of place: </label>
<p></p>
           <select name="placetype" id="places-type"  class="form-control">
{{> scrollablelist}}
</select>
<p></p>
           <input type="submit" value="Send" formaction="/getplaces"/>
         </div>

       </form>
    </div>


</div>

</body>
</html>
